@use "styles/var";
@use "styles/mixins";

.hero {
  padding: 0 16px;
  position: relative;
  height: calc(100vh - 60px);

  &::before {
    background: url("/globe.jpg") no-repeat center center/cover;
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.3;
  }
}

.container {
  @include mixins.container;

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    text-align: center;
    font-weight: 900;
    font-size: var.$size-10;
    color: var.$black;
    max-width: 1000px;
    margin: 0 auto;

    @include mixins.desktop {
      font-size: var.$size-14;
    }
  }

  span {
    color: var.$orange-primary;
  }

  p {
    text-align: center;
    font-size: var.$size-6;
    color: var.$gray-dark;
    max-width: 600px;
    margin: var.$size-10 auto;
    font-weight: 600;
  }
}
