@use "styles/var";
@use "styles/mixins";

.datepicker {
  margin-top: var.$size-1;
  position: relative;

  & > div {
    width: 100%;
  }

  input {
    width: 100%;
    border-radius: var.$size-2;
    background-color: transparent;
    padding: var.$size-2;
    font-size: var.$size-4;
    border-width: 1px;
    border-style: solid;
  }
}

.defaultInput {
  border-color: var.$gray-primary;
}

.errorInput {
  border-color: var.$red-primary;
}

.error {
  color: var.$red-primary;
}
