$orange-extralight: #ffbc7f;
$orange-light: #e85625;
$orange-primary: #f63202;
$orange-dark: #b53100;
$red-primary: #ef4444;
$gray-light: #f2f1f0;
$gray-primary: #a29d9a;
$gray-dark: #514e4d;
$white: #fafafa;
$black: #0b0e16;

$size-1: 0.25rem; // 4px
$size-2: 0.5rem; // 8px
$size-3: 0.75rem; // 12px
$size-4: 1rem; // 16px
$size-5: 1.25rem; // 20px
$size-6: 1.5rem; // 24px
$size-8: 2rem; // 32px
$size-10: 2.5rem; // 40px
$size-12: 3rem; // 48px
$size-14: 3.5rem; // 56px
$size-16: 4rem; // 64px
$size-18: 4.5rem; // 72px
$size-20: 5rem; // 80px
