@use "reset";
@use "var";
@use "mixins";

html {
  font-size: 87.5%;

  @include mixins.tablet {
    font-size: 93.75%;
  }

  @include mixins.desktop {
    font-size: 100%;
  }
}

body {
  color: var.$black;
  font-size: var.$size-4;
  font-weight: 400;
  background-color: var.$white;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

img,
svg {
  display: block;
}
