@use "styles/var";
@use "styles/mixins";

.checkout {
  @include mixins.container;

  padding: var.$size-10 var.$size-5 0;

  h1 {
    font-weight: 700;
    font-size: var.$size-8;
    margin-bottom: var.$size-5;
  }
}

.content {
  display: flex;
  flex-direction: column;
  gap: var.$size-14;

  @include mixins.desktop {
    flex-direction: row;
  }
}
